.color-red {
  color: #ff3860;
}

.color-orange {
  color: #ff8b5c;
}

.color-yellow {
  color: #ffdd57;
}

.color-green {
  color: #48c774;
}

.color-blue {
  color: #3273dc;
}

.color-gray {
  color: #7a7a7a;
}
