/*
Colors - Alphabetic order
Names taken from this site: https://chir.ag/projects/name-that-color
Names are the solid (exact) versions of these colors
*/

$color-alto: #dbdbdb;

$color-black: #000;

$color-black-haze: #f6f7f7;

$color-boulder: #7a7a7a;

$color-cerulean: #02a4d3;

$color-cornflower-blue: #069;

$color-cinderella: #fde1dc;

$color-curious-blue: #2596d1;

$color-emerald: #50c878;

$color-mercury: #e5e5e5;

$color-mustard: #ffdb58;

$color-nobel: #b7b1b1;

$color-plum: #843179;

$color-pomegranate: #f34723;

$color-radical-red: #ff355e;

$color-royal-blue: #4169e1;

$color-salmon: #ff8c69;

$color-science-blue: #06c;

$color-white: #fff;

$color-wild-sand: #f4f4f4;

$color-wild-sand: #f4f4f4;
